body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	line-height: 1.333;
	margin: 1rem auto 0 auto;
	max-width: 800px;
}

button {
	background-color: #ffffff;
	border: 1px solid #999999;
	border-radius: 3px;
	color: #000000;
	cursor: pointer;
	font-size: 1rem;
	line-height: 1.333;
	margin: 0;
	padding: 0.33rem 0.66rem;
}

button[disabled] {
	border: 1px solid #cccccc;
	color: #cccccc;
	cursor: not-allowed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 1rem;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

video {
	background-color: #222222;
	display: block;
	border-radius: 3px;
	width: 300px;
}
